kernel:
  resource: ../src/Kernel.php
  type: annotation

controllers:
  resource: ../src/Controller/
  type: annotation

app.swagger_ui:
  path: /api/doc
  methods: GET
  defaults: { _controller: nelmio_api_doc.controller.swagger_ui }